extends ./layout

block content
  main#content
    h1 Welcome to my node.js MongoDB express-session Demo
    p This is the index page.
    include indexFlash
    include sessionLinks
    include ./footer.jade

