doctype html
// Author: W3layouts Author URL: http://w3layouts.com License: Creative Commons Attribution 3.0 Unported License URL: http://creativecommons.org/licenses/by/3.0/
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='keywords', content='Register Login Widget template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login Signup Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design')
    script(type="text/x-javascript").
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    // Custom Theme files
    link(href="css/style.css" rel="stylesheet" type="text/css" media="all")
    // Web fonts
    link(href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css')
    // accessibility styling
    link(href="css/accessibility.css" rel="stylesheet" type="text/css" media="all")
    title Actuit Actuarial Application Framework
  body
    a(href="#content" class="sr-only sr-only-focusable") Skip to main content
    block content
