extends ./layout

block content
  h1 Log in authentication Failure
  p Failed to authenticate with the email address you entered.
  p Please either try again with the correct email address, or register as a new user.
  ul
    li
      a(href="/login") Return to the login page <br />
    li
      a(href="/register") Go to the registration page <br />

